{{ define "main" }}
{{range .Site.RegularPages.GroupByDate "2006"}}
<!-- <a>{{ .Key }}</a> -->
	{{ range .Pages }}
		<archive class="post clear">
			<h1 class="clear" style="float: left; width: 75%;"><a href="{{ .Permalink }}">{{ .Title }}</a> {{ if .Draft }}(Draft){{ end }}</h1>
			<!-- <a href="{{ .Permalink }}" style="float: left; width: 80%; display: inline;">{{ .Title }}</a> -->

			<!-- <div class="post-content">
				<p>{{ .Summary | plainify | safeHTML }} {{ if .Truncated }} … {{ end }}</p>
			</div> -->

			<p class="meta"><span class="postdate">{{ .Date.Format "Jan 02, 2006" }}</span></p>
		</archive>
	{{ end }}
	{{- end }}

{{ end }}
